h1 {
    font-weight: bold;
    font-style:italic;
}
img {
    float:left;
    width: 500;
    height: 300;
    border-radius: 50;
    margin-right: 10px;
}
body {
    background-color: gray;
}
.user {
    float: right;
    margin-right: 7%;
}


